{% extends "/admin/base.html" %}

{% block title %}Change password confirmation{% endblock title %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6">
                <h1 class="display-4">Change password confirmation</h1>

               <p>We have sent you a confirmation link to your e-mail address. Please click on the link to confirm your identity.</p>

            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>
{% endblock content %}
