{% extends "/emails/base.html" %}

{% block preheader %}Change password confirmation.{% endblock preheader %}

{% block message %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Hello,
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    You have requested to change your password at our app. Confirm this action by clicking on the link below (you have 24 hours):<br>
    <b>If this was not you, please contact us immediately and DO NOT click on the link!</b><br>
    <a href="{{ email_url }}" target="_blank">CLICK HERE</a>
</p>
{% endblock message %}