{% extends "/emails/base.html" %}

{% block preheader %}Your password has been changed.{% endblock preheader %}

{% block message %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Hello,
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Your password has been successfully changed! Thank you, you can now login with the link below:<br>
    <b>If this was not you, please contact us immediately!</b><br>
    <a href="{{ email_url }}" target="_blank">LOGIN HERE</a>
</p>
{% endblock message %}